.venv
merlion_benchmarking.egg-info
__pycache__/
*.pyc
.vscode
launch.json
external* 
results/
*.csv
*.gz
.python-version
.venv*
TODO
*experiments.yaml
src/data/*
!src/data/*.sh
!src/data/energy_power/
src/data/energy_power/*
!src/data/energy_power/download.py